@model BlogViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Blog";
    var userName = Context.Session.GetString("usernameadmin") ?? "";
    var userEmail = Context.Session.GetString("useremailadmin") ?? "";
}

<style>
    .btn-upload {
        background: #235695;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 16px;
        transition: 0.3s;
    }

        .btn-upload:hover {
            background: #2373AC;
            color: ghostwhite;
        }

    .form-floating > .form-control:focus,
    .form-floating > .form-select:focus {
        border-color: #44B1DA !important;
        box-shadow: none;
    }

        .form-floating > .form-control:focus ~ label,
        .form-floating > .form-select:focus ~ label {
            color: #2373AC !important;
            font-weight: bold;
        }

</style>

<!-- Upload Blog Form -->
<div class="container-xxl">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="text-center mb-5">Upload Blog</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <form asp-action="AddBlog" enctype="multipart/form-data" method="post" class="shadow p-4 rounded bg-white">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="Name" class="form-control" required placeholder="Your Email" value="@userName" readonly />
                                    <label asp-for="Name">Name</label>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="Email" class="form-control" required placeholder="Your Email" value="@userEmail" readonly />
                                    <label asp-for="Email">Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input asp-for="Title" class="form-control" required placeholder="Enter Service Title" />
                                    <label asp-for="Title">Title</label>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input asp-for="Description" class="form-control" placeholder="Enter Description" />
                                    <label asp-for="Description">Description</label>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-upload w-100 rounded-pill">Upload Blog</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>